<div id="whine_index_header">
  <h4>Whine Listings | <%= link_to 'Add a Whine/Question', new_whine_path, { :class=>"text-right text-white btn btn-primary text-white" } %></h4>
</div>
<div id="body_container" class="wrapper">
  <div class="left_side_wrapper">
    <% @whines.each do |whine| %>
    <div class="whine_container">
        <div class="whine_header white_link"><%= link_to "#{whine.title}", whine_path(whine.id) %>
        </div>
        <div class="whine_body"><% if whine.body.length > 140 %>
            <%= whine.body.first(140) %>... <%= link_to "read more", whine_path(whine.id) %><br>
          <% else %>
            <%= whine.body %><br>
          <% end %>
        </div>
        <div class="whine_byline">Created by: <%= whine.whiner.username %> on <%= whine.created_at %>.</div>
    </div>
    <% end %>
  </div>
  <%= render 'rightsidemodules' %>
</div>