<div id="whine_index_header">
  <h4>Whine # <%= @whine.id %> | <%= link_to 'Add a new Whine/Question', new_whine_path, { :class=>"text-right text-white btn btn-primary text-white" } %></h4>
</div>
<div id="body_container" class="wrapper">
  <div class="left_side_wrapper">
    <div class="whine_container">
        <div class="whine_header white_link"><%= @whine.title %>
        </div>
        <div class="whine_byline">Created by: <%= @whine.whiner.username %> at <%= @whine.created_at %>.</div>
        <div class="whine_body">
            <%= @whine.body %>
        </div>
    </div>
    <div class="clarifiers_index_container">
            <% @whine.clarifiers.each do |clarifier| %>
        <div class="clarifier_container">
            <div class="clarifier_byline"><%= clarifier.whiner.username %> at <%= clarifier.created_at %>.</div>
            <div class="clarifier_body"><%= clarifier.body %>
            </div>
        </div>
            <% end %>
        <div class="clarifier_form"><%= render :partial => 'clarifiers/form' %></div>
    </div>
    <div class="answers_index_container">
        <h6>Answers:</h6>
            <% @whine.answers.each do |answer| %>
        <div class="answer_container">
            <div class="answer_byline">Answer by <%= answer.whiner.username %> posted at <%= answer.created_at %>.
            </div>
            <div class="answer_inner">
                <div class="answer_vote">
                </div>
                <div class="answer_body"><%= answer.body %>
                </div>
            </div>
        </div>
            <% end %>
        <div class="answer_form"><%= render :partial => 'answers/form' %></div>
    </div>
  </div>
  <%= render 'rightsidemodules' %>
</div>